
body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 0%);
}

/* UTILS */

/* .debug {
    border: 1px solid black;
} */

.bgc-header {
    background-color: #eaeaea;
}

.bgc-footer {
    background-color: #f3eeea;
}

.bgc-push-notification {
    background-color: #8edafc;
}

.bgc-push-search {
    background-color: #fafafa;
}


/* CHAT BOX */

#chat-box {
    height: 95%;
}

/* CHAT BOX LEFT */

#list-header {
    height: 10%;
}

.user-img {
    height: 80%;
}

#push-notification {
    height: 10%;

}

.push-notification-icon {
    height: 100%;
    padding: 5px;
}

#search {
    height: 5%;
    position: relative;
}


#contact-list {
    height: 75%;
    overflow-y: scroll;
}

.user {
    height: 15%;
    border-bottom: 2px solid #fafafa;
}

/* CHAT BOX RIGHT */

#chat-header {
    height: 10%;
}

#chat-main {
    height: 80%;
    overflow-y: scroll;
    background-image: url('img/mine.jpg');
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}

.message.sent {
    background-color: white;
    align-self: flex-start;

}

.message.recived {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message > span {
    display: flex;
    align-items: center;
    margin: 0;
}

#chat-footer {
    height: 10%;
}