
body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 0%);
}

i {
    cursor: pointer;
}

/* BG COLOR */

.bgc-header {
    background-color: #eaeaea;
}

.bgc-footer {
    background-color: #f3eeea;
}

.bgc-push-notification {
    background-color: #8edafc;
}

.bgc-push-search {
    background-color: #fafafa;
}

.selected {
    background-color: rgba(110, 110, 110, 0.2);
}


/* CHAT BOX */

#chat-box {
    height: 95%;
}


#list-header,
#push-notification,
#chat-header,
#chat-footer,
.user {
    height: 80px;
}

#search {
    height: 50px;
    position: relative;
}

#search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

#contact-list {
    height: calc(100% - 210px);
    overflow-y: auto;
}

#chat-main {
    height: calc(100% - 160px);
    overflow-y: auto;
    background-image: url('img/mine.jpg');
}

.user-img {
    height: 80%;
}

.push-notification-icon {
    height: 100%;
    padding: 5px;
    color: #8edafc;
}

.user {
    border-bottom: 2px solid #fafafa;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}

.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;

}

.message.received {
    background-color: white;
    align-self: flex-start;
}

.message > span {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.date {
    font-size: 8px;
}

